<div class="container mt-5">
    <div class="card product-header mb-4 p-3 bg-light rounded">
        {{!-- <div class="d-flex justify-content-between align-items-center">
            <span class="h5 mb-0"><span data-lang="orders">Orders</span></span>
            <div class="row">
                <form id="searchForm" class="row">
                    <div class="col-md-3">
                        <input type="text" id="searchOrder" name="search" class="form-control"
                            placeholder="Tìm theo mã đơn hoặc tên khách hàng" value="{{filters.search}}">
                    </div>
                    <div class="col-md-2">
                        <label class="form-label d-block invisible">Tìm</label>
                        <button type="submit" class="btn btn-primary w-100">Tìm kiếm</button>
                    </div>
                </form>
            </div>
            <button class="btn btn-outline-secondary" id="toggleFilter">
                <i class="bi bi-funnel"></i> Bộ lọc
            </button>
        </div> --}}
        <div class="row align-items-center">
            <span class="col-md-1"><span data-lang="orders">Orders</span></span>
            <div class="col-md-6">
                <form id="searchForm" class="row">
                    <div class="col-md-8">
                        <input type="text" id="searchOrder" name="search" class="form-control"
                            placeholder="Tìm theo mã đơn hoặc tên khách hàng" value="{{filters.search}}">
                    </div>
                    <div class="col-md-3">
                        {{!-- <label class="form-label d-block invisible">Tìm</label> --}}
                        <button type="submit" class="btn btn-primary w-100">Tìm kiếm</button>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-2 row align-items-end">
                <button class="btn btn-outline-secondary" id="toggleFilter">
                    <i class="bi bi-funnel"></i> Bộ lọc
                </button>
            </div>
        </div>
    </div>
    <div class="card mb-4" id="filterCard" style="display: none;">
        <div class="card-body">
            <form class="g-2" id="filterForm">
                <div class="row align-items-end">
                    {{!-- <div class="col-md-3">
                        <label for="searchOrder" class="form-label">Tìm kiếm theo mã đơn hoặc tên khách hàng</label>
                        <input type="text" id="searchOrder" class="form-control"
                            placeholder="Tìm theo mã đơn hoặc tên khách hàng" value="{{filters.search}}">
                    </div> --}}

                    <div class="col-md-2">
                        <label for="sortOrders" class="form-label">Sắp xếp theo</label>
                        <select id="sortOrders" class="form-select" name="sort">
                            <option value="created_at_desc" {{#ifCond filters.sort "created_at_desc"
                                }}selected{{/ifCond}}>
                                Mới nhất
                            </option>
                            <option value="created_at_asc" {{#ifCond filters.sort "created_at_asc"
                                }}selected{{/ifCond}}>Cũ
                                nhất
                            </option>
                            <option value="total_price_desc" {{#ifCond filters.sort "total_price_desc"
                                }}selected{{/ifCond}}>Tổng tiền cao nhất
                            </option>
                            <option value="total_price_asc" {{#ifCond filters.sort "total_price_asc"
                                }}selected{{/ifCond}}>
                                Tổng tiền thấp nhất
                            </option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="filterPaymentMethod" class="form-label">Phương thức thanh toán</label>
                        <select id="filterPaymentMethod" class="form-select" name="payment_method">
                            <option value="">Tất cả</option>
                            <option value="COD" {{#ifCond filters.payment_method "COD" }}selected{{/ifCond}}>COD
                            </option>
                            <option value="ONLINE" {{#ifCond filters.payment_method "ONLINE" }}selected{{/ifCond}}>
                                ONLINE
                            </option>
                        </select>
                    </div>

                </div>

                <div class="row align-items-end mt-3">
                    <div class="col-md-2">
                        <label for="filterStatus" class="form-label">Trạng thái đơn hàng</label>
                        <select id="filterStatus" class="form-select" name="status">
                            <option value="">Tất cả trạng thái</option>
                            <option value="pending" {{#ifCond filters.status "pending" }}selected{{/ifCond}}>Chờ xác
                                nhận
                            </option>
                            <option value="confirmed" {{#ifCond filters.status "confirmed" }}selected{{/ifCond}}>Đã xác
                                nhận
                            </option>
                            <option value="ready_to_pick" {{#ifCond filters.status "ready_to_pick"
                                }}selected{{/ifCond}}>Chờ
                                lấy
                                hàng (GHN)</option>
                            <option value="picking" {{#ifCond filters.status "picking" }}selected{{/ifCond}}>GHN đang
                                lấy
                                hàng
                            </option>
                            <option value="picked" {{#ifCond filters.status "picked" }}selected{{/ifCond}}>GHN đã lấy
                                hàng
                            </option>
                            <option value="delivering" {{#ifCond filters.status "delivering" }}selected{{/ifCond}}>Đang
                                giao
                                hàng
                            </option>
                            <option value="money_collect_delivering" {{#ifCond filters.status "money_collect_delivering"
                                }}selected{{/ifCond}}>Đang giao (COD)</option>
                            <option value="delivered" {{#ifCond filters.status "delivered" }}selected{{/ifCond}}>Giao
                                thành
                                công
                            </option>
                            <option value="delivery_fail" {{#ifCond filters.status "delivery_fail"
                                }}selected{{/ifCond}}>
                                Giao thất
                                bại</option>
                            <option value="waiting_to_return" {{#ifCond filters.status "waiting_to_return"
                                }}selected{{/ifCond}}>Chờ
                                hoàn hàng</option>
                            <option value="return" {{#ifCond filters.status "return" }}selected{{/ifCond}}>Đang hoàn
                                hàng
                            </option>
                            <option value="returned" {{#ifCond filters.status "returned" }}selected{{/ifCond}}>Đã hoàn
                                hàng
                            </option>
                            <option value="return_fail" {{#ifCond filters.status "return_fail" }}selected{{/ifCond}}>
                                Hoàn
                                hàng thất
                                bại</option>
                            <option value="cancel_request" {{#ifCond filters.status "cancel_request"
                                }}selected{{/ifCond}}>
                                Yêu cầu
                                hủy</option>
                            <option value="canceled" {{#ifCond filters.status "canceled" }}selected{{/ifCond}}>Đã hủy
                            </option>
                            <option value="rejected" {{#ifCond filters.status "rejected" }}selected{{/ifCond}}>Từ chối
                                xác
                                nhận
                            </option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="filterPaymentStatus" class="form-label">Trạng thái thanh toán</label>
                        <select id="filterPaymentStatus" class="form-select" name="payment_status">
                            <option value="">Tất cả</option>
                            <option value="pending" {{#ifCond filters.payment_status "pending" }}selected{{/ifCond}}>Chờ
                                thanh toán</option>
                            <option value="paid" {{#ifCond filters.payment_status "paid" }}selected{{/ifCond}}>Đã thanh
                                toán
                            </option>
                            <option value="refunded" {{#ifCond filters.payment_status "refunded" }}selected{{/ifCond}}>
                                Hoàn
                                tiền</option>
                        </select>
                    </div>
                </div>
                <div class="row align-items-end mt-3">
                    <div class="col-md-2">
                        <label for="timePeriod" class="form-label">Khoảng thời gian</label>
                        <select name="timePeriod" id="timePeriod" class="form-select">
                            <option value="" {{#unless filters.timePeriod}}selected{{/unless}}>Tất cả</option>
                            <option value="today" {{#if (eq filters.timePeriod "today" )}}selected{{/if}}>Hôm nay
                            </option>
                            <option value="last_week" {{#if (eq filters.timePeriod "last_week" )}}selected{{/if}}>Tuần
                                trước
                            </option>
                            <option value="this_month" {{#if (eq filters.timePeriod "this_month" )}}selected{{/if}}>
                                Tháng này
                            </option>
                            <option value="last_month" {{#if (eq filters.timePeriod "last_month" )}}selected{{/if}}>
                                Tháng trước
                            </option>
                            <option value="last_3_months" {{#if (eq filters.timePeriod "last_3_months"
                                )}}selected{{/if}}>3
                                tháng gần nhất</option>
                            <option value="custom_order" {{#if (eq filters.timePeriod "custom_order" )}}selected{{/if}}>
                                Tùy
                                chỉnh ngày đặt hàng</option>
                            <option value="custom_delivery" {{#if (eq filters.timePeriod "custom_delivery"
                                )}}selected{{/if}}>
                                Tùy chỉnh ngày nhận hàng</option>
                        </select>
                    </div>

                    <div class="col-md-2 custom-date-field" style="display: none;" id="startDate">
                        <label class="form-label">Từ ngày</label>
                        <input type="date" class="form-control" name="startDate" value="{{filters.startDate}}">
                    </div>

                    <div class="col-md-2 custom-date-field" style="display: none;" id="endDate">
                        <label class="form-label">Đến ngày</label>
                        <input type="date" class="form-control" name="endDate" value="{{filters.endDate}}">
                    </div>

                    <div class="col-md-2 text-center">
                        <input type="checkbox" id="priceFilterCheckbox" {{#if filters.min_price}}checked{{/if}}>
                        <label for="priceFilterCheckbox" class="form-label">Lọc theo tổng tiền</label>
                    </div>
                    <div class="col-md-2 price-filter-fields" style="display: none">
                        <label for="minPrice" class="form-label">Giá từ: <span id="minPriceLabel">0 VND</span></label>
                        <input type="number" class="form-control" name="min_price" id="minPrice"
                            value="{{filters.min_price}}">
                    </div>

                    <div class="col-md-2 price-filter-fields" style="display: none">
                        <label for="maxPrice" class="form-label">Đến: <span id="maxPriceLabel">0 VND</span></label>
                        <input type="number" class="form-control" name="max_price" id="maxPrice"
                            value="{{filters.max_price}}">
                    </div>

                </div>
                <div class="row align-items-end mt-3">
                    <div class="col-md-1">
                        <label class="form-label">Hiển thị</label>
                        <select class="form-select" name="limit">
                            <option value="10" {{#if (eq limit 10 )}}selected{{/if}}>10</option>
                            <option value="20" {{#if (eq limit 20 )}}selected{{/if}}>20</option>
                            <option value="50" {{#if (eq limit 50 )}}selected{{/if}}>50</option>
                        </select>
                    </div>
                    <div class="col-md-1">
                        <button id="btnSearchOrder" class="btn btn-primary w-100">Lọc</button>
                    </div>
                    <div class="col-md-1">
                        <button type="button" id="btnResetFilter" class="btn btn-secondary w-100">Reset</button>
                    </div>
                </div>

            </form>
        </div>
    </div>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Mã vận đơn</th>
                <th>Khách hàng</th>
                <th>Tổng tiền</th>
                <th>Trạng thái</th>
                <th>Ngày đặt</th>
                <th>Phương thức thanh toán</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            {{#each orders}}
            <tr>
                <td>
                    {{#if this.order_code}}
                    #{{this.order_code}}
                    {{else}}
                    <span class="text-muted">Chưa có mã</span>
                    {{/if}}
                </td>
                <td>{{this.to_name}}</td>
                <td>{{formatPrice this.total_price}} VND</td>
                <td>
                    <span class="badge {{getStatusClass this.status}}">{{getStatusText this.status}}</span>
                    {{#if (and this.cancel_request (neq this.status "canceled"))}}
                    <span class="badge bg-warning text-dark ms-2">Yêu cầu hủy đơn</span>
                    {{/if}}

                </td>


                <td class="date-format" data-created-at="{{this.created_at}}">{{this.created_at}}</td>
                <td>
                    <span class="badge {{getPaymentClass this.payment_method}}">{{this.payment_method}}</span>
                    {{#if (eq this.payment_method "ONLINE")}}
                    {{#if (eq this.payment_status "paid")}}
                    <span class="badge bg-success ms-2">Đã thanh toán</span>
                    {{else if (eq this.payment_status "refunded")}}
                    {{!-- <span class="badge bg-warning text-dark mt-1">Đã hoàn tiền</span> --}}
                    <span class="badge bg-info ms-2">Đã hoàn tiền</span>
                    {{else}}
                    <span class="badge bg-danger ms-2">Chưa thanh toán</span>
                    {{/if}}
                    {{/if}}
                </td>
                <td><a href="/orders/{{this._id}}/detail" class="btn btn-primary btn-sm">Chi tiết</a></td>

            </tr>
            {{/each}}
        </tbody>
    </table>
    {{#unless orders.length}}
    <div class="text-center text-muted py-3">
        <i class="bi bi-search display-6 d-block mb-2"></i>
        <h5>Không tìm thấy đơn hàng nào phù hợp</h5>
        <p>Hãy thử điều chỉnh từ khóa tìm kiếm hoặc bộ lọc.</p>
    </div>
    {{/unless}}
    {{!-- <nav>
        <ul class="pagination justify-content-center">
            {{#if (gt currentPage 1)}}
            <li class="page-item">
                <a class="page-link" href="?page={{sub currentPage 1}}&limit={{limit}}">Trang trước</a>
            </li>
            {{/if}}

            <li class="page-item disabled">
                <span class="page-link">Trang {{currentPage}} / {{totalPages}}</span>
            </li>

            {{#if (lt currentPage totalPages)}}
            <li class="page-item">
                <a class="page-link" href="?page={{add currentPage 1}}&limit={{limit}}">Trang sau</a>
            </li>
            {{/if}}
        </ul>
    </nav> --}}
    <nav>
        <ul class="pagination justify-content-center">
            {{#if (gt currentPage 1)}}
            <li class="page-item">
                <a class="page-link" href="javascript:void(0);" onclick="goToPage({{sub currentPage 1}})">Trang
                    trước</a>
            </li>
            {{/if}}

            <li class="page-item disabled">
                <span class="page-link">Trang {{currentPage}} / {{totalPages}}</span>
            </li>

            {{#if (lt currentPage totalPages)}}
            <li class="page-item">
                <a class="page-link" href="javascript:void(0);" onclick="goToPage({{add currentPage 1}})">Trang sau</a>
            </li>
            {{/if}}
        </ul>
    </nav>
</div>
<div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="toastMessage" class="toast align-items-center text-white bg-success border-0" role="alert"
        aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body" id="toastBody">
                <!-- Message will be inserted here -->
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                aria-label="Close"></button>
        </div>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
    function goToPage(newPage) {
        const url = new URL(window.location.href);
        url.searchParams.set('page', newPage);
        window.location.href = url.toString();
    }
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        formatDates();


        const socket = io();
        socket.on("new_order", function (order) {
            showToast("📢 Bạn vừa có một đơn hàng mới!", "bg-info");
        });
        socket.on("cancel_request", function (order) {
            showToast("⚠️ Có yêu cầu hủy đơn hàng!", "bg-warning");
        });

        socket.on("return_request", function (order) {
            showToast("🔄 Có yêu cầu trả hàng!", "bg-danger");
        });

        function formatDates() {
            document.querySelectorAll(".date-format").forEach(element => {
                const timestamp = element.dataset.createdAt;
                if (timestamp) {
                    const date = new Date(timestamp);
                    element.innerText = date.toLocaleString("vi-VN", {
                        year: "numeric",
                        month: "2-digit",
                        day: "2-digit",
                        hour: "2-digit",
                        minute: "2-digit",
                        hour12: false
                    });
                }
            });
        }

        function showToast(message, bgClass = "bg-success") {
            const toastElement = document.getElementById("toastMessage");
            const toastBody = document.getElementById("toastBody");

            toastBody.textContent = message;
            toastElement.classList.remove("bg-success", "bg-danger");
            toastElement.classList.add(bgClass);

            const toast = new bootstrap.Toast(toastElement);
            toast.show();
        }
        const form = document.getElementById("filterForm");
        const minPriceInput = document.getElementById("minPrice");
        const maxPriceInput = document.getElementById("maxPrice");
        const startDateInput = document.getElementById("startDate");
        const endDateInput = document.getElementById("endDate");
        form.addEventListener("submit", function (e) {
            const minPrice = minPriceInput.value.trim();
            const maxPrice = maxPriceInput.value.trim();
            const startDate = startDateInput?.value;
            const endDate = endDateInput?.value;


            if (minPrice && Number(minPrice) < 0) {
                e.preventDefault();
                showToast("Giá tối thiểu phải là số dương.", "bg-danger");
                return;
            }

            if (maxPrice && Number(maxPrice) < 0) {
                e.preventDefault();
                showToast("Giá tối đa phải là số dương.", "bg-danger");
                return;
            }

            if (minPrice && maxPrice && Number(minPrice) >= Number(maxPrice)) {
                e.preventDefault();
                showToast("Vui lòng nhập giá tối đa lớn hơn giá tối thiểu.", "bg-danger");
                return;
            }

            if (startDate && endDate && new Date(startDate) > new Date(endDate)) {
                e.preventDefault();
                showToast("Vui lòng chọn ngày kết thúc lớn hơn ngày bắt đầu.", "bg-danger");
                return;
            }
        });
    });

</script>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const toggleBtn = document.getElementById("toggleFilter");
        const filterCard = document.getElementById("filterCard");

        toggleBtn.addEventListener("click", function () {
            filterCard.style.display =
                filterCard.style.display === "none" ? "block" : "none";
        });
        const timeSelect = document.getElementById('timePeriod');
        const customFields = document.querySelectorAll('.custom-date-field');

        function toggleCustomDates() {
            const isCustom = timeSelect.value === 'custom';
            customFields.forEach(el => {
                el.style.display = isCustom ? 'block' : 'none';
            });
        }

        toggleCustomDates();
        timeSelect.addEventListener('change', toggleCustomDates);
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const timePeriodSelect = document.getElementById("timePeriod");
        const customDateFields = document.querySelectorAll(".custom-date-field");

        function toggleCustomDateFields() {
            const value = timePeriodSelect.value;
            if (value === "custom_order" || value === "custom_delivery") {
                customDateFields.forEach(el => el.style.display = "block");
            } else {
                customDateFields.forEach(el => el.style.display = "none");
            }
        }

        timePeriodSelect.addEventListener("change", toggleCustomDateFields);
        toggleCustomDateFields();
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {

        function formatCurrency(value) {
            if (!value) return '0 VND';
            return parseInt(value).toLocaleString('vi-VN') + ' VND';
        }

        const minPriceInput = document.getElementById('minPrice');
        const maxPriceInput = document.getElementById('maxPrice');

        const minPriceLabel = document.getElementById('minPriceLabel');
        const maxPriceLabel = document.getElementById('maxPriceLabel');

        minPriceInput.addEventListener('input', function () {
            const minPriceValue = minPriceInput.value;
            minPriceLabel.textContent = formatCurrency(minPriceValue);
        });

        maxPriceInput.addEventListener('input', function () {
            const maxPriceValue = maxPriceInput.value;
            maxPriceLabel.textContent = formatCurrency(maxPriceValue);
        });

        minPriceLabel.textContent = formatCurrency(minPriceInput.value);
        maxPriceLabel.textContent = formatCurrency(maxPriceInput.value);


        function togglePriceFilter() {
            var priceFields = document.querySelectorAll(".price-filter-fields");
            var checkbox = document.getElementById("priceFilterCheckbox");
            if (checkbox.checked) {
                priceFields.forEach(function (field) {
                    field.style.display = "block";
                });
            } else {
                priceFields.forEach(function (field) {
                    field.style.display = "none";
                });
            }
        }
        togglePriceFilter();
        document.getElementById("priceFilterCheckbox").addEventListener("change", togglePriceFilter);

    });
</script>

<script>
    const searchForm = document.getElementById('searchForm');
    const filterForm = document.getElementById('filterForm');

    searchForm.addEventListener('submit', function (e) {
        e.preventDefault();
        const searchParams = new URLSearchParams(new FormData(searchForm));

        if (filterForm) {
            const filterParams = new FormData(filterForm);
            for (const [key, value] of filterParams.entries()) {
                if (!searchParams.has(key)) {
                    searchParams.append(key, value);
                }
            }
        }
        window.location.href = `?${searchParams.toString()}`;
    });

    filterForm.addEventListener('submit', function (e) {
        e.preventDefault();
        const filterParams = new URLSearchParams(new FormData(filterForm));
        if (searchForm) {
            const searchValue = searchForm.querySelector('#searchOrder').value;
            if (searchValue) {
                filterParams.append('search', searchValue);
            }
        }
        window.location.href = `?${filterParams.toString()}`;
    });
</script>
<script>
    document.getElementById('btnResetFilter').addEventListener('click', function () {
        const form = document.getElementById('filterForm');
        form.reset();

        form.querySelectorAll('input[type="date"], input[type="number"]').forEach(input => input.value = '');
        form.querySelectorAll('select').forEach(select => select.selectedIndex = 0);
        document.querySelectorAll('.custom-date-field, .price-filter-fields').forEach(field => {
            field.style.display = 'none';
        });

        document.getElementById('priceFilterCheckbox').checked = false;

        //window.location.href = window.location.pathname;
    });
</script>
